<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saram.app">
    <!-- SE LE DAN PERMISOS DE VIBRACIÓN DE HARDWARE DEL DISPOSITIVO -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".inicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--
         LAS SIGUIENTES DOS LÍNEAS Y LA DE ARRIBA SON INDISPENSABLES PARA QUE LA FLECHA DE RETORNO
        FUNCIONE CORRECTAMENTE CON LAS ACTIVITYS DE LAS LINEAS SIGUIENTES DE LO CONTRARIOM LA APP SE CRASHEA
        -->
        <activity android:name=".registroActivity" />
        <activity android:name=".recuperarContra" /> <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SE IMPLEMENTA EL RECEIVER PARA LA ALARMA -->
        <receiver android:name=".alarma"/>
    </application>

</manifest>